{% extends "base.html" %}

{% block content %}
<div class="table_detail_block">
	<h3>Информация о столике № {{ table.id }} ({{ table.location }}).</h3>
	{% if reservations %}
	<table class="w-100">
		<caption>История и будущие бронирования</caption>
		<thead style="height: 50px;">
		<tr>
			<th>#</th>
			<th>customer_name</th>
			<th>reservation_time</th>
			<th>reservation_time_end</th>
			<th>created_at</th>
			<th>table_id</th>
		</tr>
		</thead>
		<tbody>
		{% for res in reservations %}
		<tr>
			<td>{{ res.id }}</td>
			<td>{{ res.customer_name }}</td>
			<td>{{ res.reservation_time }}</td>
			<td>{{ res.reservation_time_end }}</td>
			<td>{{ res.created_at }}</td>
			<td>{{ res.table_id }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>Для данного столика ещё не запрашивалось бронирование</p>
	{% endif %}
</div>
<a href="/" class="return_home_block">
	Вернуться на главную
</a>
{% endblock %}
